
form{
  position: relative;
  margin-top: 4rem;
  padding: 20px;
  border-radius: 5px;
}

.main-container {
  max-width: 40%;
  margin: 0 auto;
}

.fields {
  margin-top: 20px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .inputField{
  width: 48%;
}

.inputField {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
#category{
  width:25%;
}
input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button{
  margin-left:466px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
} 