.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form{
  border: 1px solid black;
  border-radius: 2%;
  padding: 10px;
  width: 300px;
}
h5{
  display: block;
  font-size: 0.83em;
  margin-block-start:1px;
  margin-block-end: 1px;
}

input{
width: 90%;
height: auto;
margin-bottom: 5%;
padding-bottom: 5%;
}
.button-container{
margin: auto;
text-align: center;
}
#button{
border-radius:10%;
font-size: 1.25rem;
background-color: aquamarine;
}
